{% extends 'base.html' %}


{% block navbar %}
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Foodie</a>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown ms-auto">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
            </a>
            <ul class="dropdown-menu me-auto border-dark" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item text-dark" href="{% url 'login_success' %}">پنل کاربری</a>
                </li>
                <li>
                    <hr class="dropdown-divider text-dark">
                </li>
                <li>
                    <a class="dropdown-item text-dark" href="{% url 'account_logout' %}">خروج</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endblock navbar %}

{% block content %}
<div class="container p-3">
    <h1 class="mb-4">پنل ادمین</h1>

    <div class="row">
        <div class="col-lg-3 d-flex">
            <div class="card shadow" style="width: 14rem; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">دسته بندی جدید</h5>
                    <a href="{% url 'category_new' %}" class="btn btn-primary">اضافه کن</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex">
            <div class="card shadow" style="width: 14rem; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">غذای جدید</h5>
                    <a href="{% url 'food_new' %}" class="btn btn-primary">اضافه کن</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex">
            <div class="card shadow" style="width: 14rem; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">همه غذاها</h5>
                    <a href="{% url 'food_list' %}" class="btn btn-primary">نشون بده</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex">
            <div class="card shadow" style="width: 14rem; height: 100px;">
                <div class="card-body">
                    <h5 class="card-title">همه دسته بندی ها</h5>
                    <a href="{% url 'category_list' %}" class="btn btn-primary">نشون بده</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}