{% extends 'base.html' %}

{% block content %}
<section class="pt-5 mt-4">
    <div class="container">
        <h3 class="pb-3">رستوران {{branch.restaurant.name}} {{branch.name}}</h3>
        <div class="row">
            {% for item in menuitem_list %}
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100 shadow" style="width: 18rem;">
                    <img class="card-img-top" src="{{item.food.image.url}}" alt="{{item.food.name}}"
                         style="height:170px; width:auto; max-width:500px;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.food.name}}</h5>
                        <p class="card-text text-secondary">{{item.food.description}}</p>
                        <p class="card-text">{{item.price}}تومان</p>
                        <a href="{% url 'food_detail'%}" class="m-2 btn btn-primary position-absolute bottom-0 end-0" id="add-to-cart">افزودن</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
