{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">انتخاب آدرس</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="address-body" class="modal-body">
                <form id="select-address-form" class="form-group" action="">{% csrf_token %}
                    {% for address in request.user.addresses.all %}
                        <input type="radio" id="address.{{forloop.counter}}" name="primary" value="{{forloop.counter}}"
                               {% if address.primary %} checked="checked" {% endif %}>
                        <label for="address.{{forloop.counter}}">{{ address.city }} - {{address.street}} - پلاک {{address.plaque}}</label>
                        <br>
                    {% endfor %}
                </form>
            </div>

            <div class="modal-footer">
                <button id="continue-btn" type="submit" class="add-address btn btn-primary">ادامه</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>

<section class="pt-5 mt-4">
    <div class="container p-3 " id="cart">
        {% if order != None %}
        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <tr>
                        <th><h5>رستوران {{order.items.first.menu_item.branch}}</h5></th>
                        <th><h5>تعداد: <strong>{{order.number_of_items}}</strong></h5></th>
                        <th><h5> هزینه کل:<strong> {{order.total_price}}تومان </strong></h5></th>
                        <th>
                            <button id="checkout-btn" class="btn btn-danger" type="submit"
                                    data-bs-target="#addressModal">نهایی کردن سفارش
                            </button>

                        </th>
                    </tr>
                </table>
                <br>
                <table class="table orders">
                    <thead>
                    <tr>
                        <th scope="col">غذا</th>
                        <th scope="col">تعداد</th>
                        <th scope="col">قیمت</th>
                        <th scope="col">جمع</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items.all %}
                    <tr>
                        <td>{{item.menu_item.food.name}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.total}}</td>
                        <td>
                            <button class="delete-btn btn btn-outline-danger" type="submit">حذف</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% else %}
        <h1 class="text-center p-4">سبد خرید شما خالیست!</h1>
        {% endif %}
    </div>
</section>
{% endblock content %}
{% block script %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var URL = "{% url 'update_order' %}";
    var CHECKOUT_URL = "{% url 'checkout' %}";
    var USER_IS_AUTHENTICATED = "{{user.is_authenticated}}";





</script>
<script src="{% static 'js/delete_cart.js' %}"></script>
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock script %}


