{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="pt-5 mt-4">
    <div class="container p-3 " id="cart">
        {% if order_list %}
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">سفارش</th>
                            <th scope="col">هزینه کل</th>
                            <th scope="col">زمان</th>
                            <th scope="col">وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in order_list %}
                        <tr>
                            <td> سفارش از {{order.items.first.menu_item.branch}}</td>
                            <td>{{order.total_price}}</td>
                            <td class="text-muted">{{order.date_jalali | date:"H:i Y/m/d"}}</td>
                            <td>
                                {% if order.status == 1 %}
                                ثبت
                                {% elif order.status == 2 %}
                                ارسال
                                {% else %}
                                تحویل
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        {% else %}
        <h1 class="text-center p-4">سبد خرید شما خالیست!</h1>
        {% endif %}
    </div>
</section>
{% endblock content %}



